# Server Configuration
PORT=3000
NODE_ENV=development

# AWS S3 Cloud Storage Credentials (Optional in local development, required for AWS S3 direct uploads)
AWS_REGION=ap-south-1
AWS_S3_BUCKET=my-trading-hub-bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Razorpay Checkout URL
RAZORPAY_URL=https://rzp.io/rzp/2a3h6cU
